<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>
<p>Contact Us page here asnd stuff. Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis doloremque, esse odit rem unde vel voluptatibus. Architecto blanditiis, commodi enim eveniet, expedita fuga nam nisi, nostrum quas similique veritatis.</p>